.about{
    height: 575px;
}

.about h1{
    width: 100%;
    background-color: #646cff;
    color: aquamarine;
    font-size: 2.5em;
}

.about h2{
    background-color: aliceblue;
    width: 25%;
    justify-self: center;
}


img{
    margin: 10px;
    width: 100px;

}

h5{
    background-color: rgb(252, 255, 62);
    width: 200px;
    justify-self: center;
    padding: 5px;
    border-radius: 5px;
}

.about button{
    background-color: aquamarine;
}

