.home {
    align-self: center;
}

.flex {
    display: flex;
    background-color: #646cff;
    justify-content: center;
    justify-content: space-evenly;
    width: 100%;
    justify-self: center;
}