.home {
    align-self: center;
}

h2{
    background-color: #646cff !important;
    
}

.flex {
    display: flex;
    background-color: #646cff;
    justify-content: center;
    justify-content: space-evenly;
    width: 100%;
    justify-self: center;
    height: 575px;
}

.link{
    text-transform: uppercase;
    font-size: 18px;
    color: black;
    font-weight: bold;
    transition: border 0.15s;
}

.link:hover{
    color: yellow;
}