nav .menu{
    padding: 5px;
    display: flex;
    justify-content: space-around;
    height: 80px;
    align-items: center;
    background-color: aquamarine;
}


nav a{
    text-transform: uppercase;
    font-size: 18px;
    color: #646cff;
    letter-spacing: 1px;
    font-weight: bold;
    text-decoration: none !important;
    transition: border 0.15s;
}

nav a:hover {
    border: 3px solid #646cff;
    background-color: lightblue;
    border-radius: 11px;
    
}

nav{
    position: sticky;
    top: 0;
    overflow: hidden;
}

nav .cart{
    height: 35px;
    width: 50px;
}

nav .cart:hover{
    border: 3px solid #646cff; 
    background-color: lightblue;
    border-radius: 5px;
    transition: border 0.15s;
    cursor: pointer;
}


/*   transform: translateY(-3px);
.filters img:hover{
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}


box-sizing: border-box
  */









